

    html,body {
		font-family: "Helvetica";
		height:100%;
	}

	#introScreen {
		background-color: #D0FFEC;
		height: 100%;
		width: 100%;
		background-image: url("Huangshan background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	#introTextBox {
		height: 70%;
	}

	#introText {
		font-family: "Helvetica";
		color: #fff;
		text-align: center;
		position: absolute;
		left: 50%;
	  	top: 50%;
	  	transform: translate(-50%, -50%);
	}

	#introLinks {
		width: 270px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	.iconLink img {
		height: 50px;
		width: 50px;
		float: left;
		margin: 20px;
	}
	#introLinksBox {
		height: 25%;
	}

	.box {
		width: 100%;
	}

	@media (min-height: 700px) {
	.largeHeight {
		line-height: 150%;
		font-size: 70px;
	}
}
@media (max-height: 699px) {
	.largeHeight {
		line-height: 150%;
		font-size: 40px;
	}
}
	.smallHeight {
		line-height: 50%;
	}

	#educationBlurb, #experienceBlurb {
		float: left;
		width: 50%;
		text-align: center;
	}

	#resume {
		float: left;
		clear: both;
		text-align: center;
		width: 100%;
		margin-top: 30px;
		margin-bottom:30px;
	}
	.button {

		background-color:transparent;
		-moz-border-radius:11px;
		-webkit-border-radius:11px;
		border-radius:11px;
		border:1px solid #ff4757;
		display:inline-block;
		cursor:pointer;
		color:#ff4757;
		font-family:Helvetica;
		font-size:18px;
		padding:8px 22px;
		text-decoration:none;
	}
	.button:hover {
		background-color:transparent;
		border:1px solid #000;
		color:#000;

	}
	.myButton:active {
		position:relative;
		top:1px;
	}

	.navbar-inner {
	    /*background:transparent;*/
	    background-color: #000;
	    opacity: 0.8;
	}


	.navbar-default .navbar-nav>li>a {
   		 color: #FFF;
	}


	.icon {
		height: 100px;
		width: 100px;
	}

	#scrollDownIconBox {
		height: 5%;
	}

	#scrollDownIcon img {
		float: left;
		height: 20px;
		width: 40px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}

	.blurbTitle {
		margin: 0px;
		font-size: 30px;
		text-decoration: underline;
		font-weight: 400;
	}

	ul {
	    list-style-type: none;
	    padding: 0px;
	}

	li {
		margin: 5px;
	}


	.sectionHeader {
		text-align: center;
		font-size: 40px;
		margin-bottom: 20px;
	}

	.description {
		text-align: left;
		padding-left: 25%;
		padding-right: 25%;
		line-height: 25px;
	}


	#projectsSection {
		clear:both;
		text-align: center;
	}

	.projectImage {
		width: 50%;
		height: 50%;
	}

	#aboutSection {
	}

	hr {
		float: left;
		clear: both;
		width: 80%;
		margin-top: 40px;
		margin-left: 10%;
		margin-bottom: 0px;
		border-color: #444;
	}
	section {
		overflow: auto;
	}

	#contactSection {
		text-align: center;
		padding-bottom: 25px;
	}
	#contactSection img {
		width:25px;
		height:25px;
	}

	#orTag {
		text-decoration: underline;
	}

	#contactSection a {
		text-decoration: none;
		color: #ff4757;
	}

	#contactSection a:hover {
		color: #000;
	}

	#contactInfo {
		left: 50%;
		width: 220px;
		transform: translateX(-50%);
		position: absolute;
	}

	textarea {
		resize: none;
		font-family: Helvetica;
		font-size: 20px;
		clear: both;
		outline: none;
	}

	.footer {
		padding-top: 5px;
		padding-bottom: 5px; 
		text-align: center;
		background-color: #DDD;
	}

	#phoneNumber {
		color: #ff4757;
		float: left;
		clear: both;
	}
	#emailAddress {
		float: left;
		clear: both;
	}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}







